.nav {
    display: flex;
}

.nav__list {
    display: flex;
}

.nav__menu {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 160px;
}

.nav__list-custom {
    list-style-type: none;
    text-decoration: underline;
    text-transform: uppercase;
    padding-right: 16px;
}


